$blue: #1877f2;
$green: #42b72a;
$paragraph-margin-bottom: 0;
$gray-600: rgb(245, 245, 245);
@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  // background-color: #1b1b1b;
}

.user-div:hover {
  background-color: rgb(250, 250, 250);
}
